@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}


body {
    background-color: #e6e6ff;
    widith: 100vw;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    color: #333;
}
.my-logo {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;

}