@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}


body {
    background-color: #faf1f4;
    width: 100vw;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    color: #333;
}
.my-logo {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;

}
.ql-editor, .ql-container, .ql-toolbar {
    border:none !important;
}
